/* Styling the page responsive  */
#root:has(.dashBoardElder) {
    /* max-width: 1280px; */
    margin: auto;
}

/* Screen between 1280px and 900px */
/* #root:has(.dashBoardElder) { */
@media screen and (max-width: 900px) {
    .topIcons img {
        width: 35px;
        height: 35px;
    }

    #postsSection img {
        width: 50px;
        height: 50px;
    }

    .topIcons,
    .ant-layout-sider,
    .ant-layout-header {
        clip: rect(0 0 0 0) !important;
        clip-path: insert(50%) !important;
        height: 1px !important;
        overflow: hidden !important;
        position: absolute !important;
        white-space: nowrap !important;
        width: 1px !important;
    }

    .dashBoardElder h1 {
        text-align: center;
    }

    .dashElderNav {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
    }

    .dashElderEvent {
        grid-column: span 2;
        grid-row: 2/3;
    }

    .tabs .ant-tabs-nav-list {
        display: grid !important;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
        width: 100%;
        margin: 1rem;
    }

    .tabs .ant-tabs-nav-list .ant-tabs-tab {
        border: 1px #00756A solid !important;
    }

    .ant-tabs-tab-btn {
        display: block !important;
        text-align: center;
        width: 100%;
    }

    #postsSectionNav button {
        display: block;
        margin: auto;
        margin-bottom: 1rem;
    }

}


@media screen and (min-width: 900px) {

    nav {
        clip: rect(0 0 0 0);
        clip-path: insert(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }


    .dashBoardElderHeader {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }

    .dashBoardElderHeader h1 {
        grid-column: span 4;
        text-align: left;
    }

    /* Styling for the Elder Dashboard Navigation*/
    .dashElderNav {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
    }

    #postsSectionNav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 1rem auto;
    }

    /* Styling for the Elder Dashboard Posts Section*/


    #postsSection .ant-tabs-tab {
        color: white !important;
        background-color: #00756A !important;
        font-weight: bold !important;
        flex-grow: 1;

    }

    #postsSection .ant-tabs-nav-list {
        flex-grow: 1;
    }

    #postsSection .ant-tabs-tab-active {
        background-color: white !important;
        border: solid 1px #00756A;
    }

    #postsSection .ant-tabs-tab {
        display: block !important;
        text-align: center;
        margin: auto;
    }

    #postsSection .ant-tabs-tab-active div {
        color: #00756A !important;
    }


}

/* Styling for the Elder Dashboard Header*/
h1 {
    color: #00756A;
}

nav {
    background-color: #00756A;
    height: 200px;
}

nav div {
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: space-between;
}

nav img {
    margin-right: .5rem;
    padding: 0;

}

#statusBar {
    display: block;
    width: 100%;
    margin: 0 0 3rem 0;

}


#createPost {
    background-color: #EB592D;
    border-radius: 15px;
    height: 55px;
    width: 180px;
    border: #EB592D solid 1px;
    font-size: large;
}


#createPost a {
    color: white !important;
}

.dashBoardElderHeader div {
    text-align: center;
}




.topIcons {
    display: flex;
    justify-content: space-between;
    margin-left: 1rem;
}

.navtopIcons img,
.topIcons img {
    width: 48px;
    height: 48px;
}

/* ============================================= */



/* Styling for the Elder Dashboard Navigation*/


.dashElderNav div {
    min-height: 50px;
}

.dashElderEvent,
.dashElderUnanswered,
.dashElderPending {
    border-radius: .5rem;
    margin: .5rem;
    padding: 0.5em;
    border: 2px #00756A solid !important;
}

.dashElderEvent h2 {
    color: #00756A;

}

.dashElderUnanswered {
    color: grey;
    border-radius: .5rem;
    margin: .5rem;
    padding: 0.5em;
    border: 2px grey solid !important;
}

.dashElderPending {
    color: #EB592D;
    border-radius: .5rem;
    margin: .5rem;
    padding: 0.5em;
    border: 2px#EB592D solid !important;
}

.unansCount,
.pendingCount {
    max-width: 50%;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    margin: auto;
}

.eventMore {
    color: white;
    background-color: #00756A;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    border: 1px solid #00756A;

}

/* ==================================== */



.myPostElderly {
    background-color: lightgray;

}


/* ================== */









