/* Styling MyPost Area  */


#myPostsCard {
    background-color: #F5F5F5;
    margin: 1rem;
    padding: 0;
    border-radius: 20px;
}




.cardBody {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
    gap: .5rem;
    text-align: center;
    font-weight: 600;
}


.eventDetails {
    grid-column: span 3;
    text-align: left;
}


.deleteEditSection {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.myPostDelete,
.myPostEdit {
    width: 50px;
    height: 65px;
}

.myPostDelete:hover,
.myPostEdit:hover {
    cursor: pointer;
}

.eventImage {

    padding: 1rem;
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.deletePostConfirmation {
    position: absolute;
    color: black;
    inset: 0;
    background-color: rgba(0, 0, 0, .8);
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 100;
    padding: 20% 30%;

}

.deletePostConfirmation div {
    padding: 2rem;
    background-color: white;
    border-radius: 20px;
}

.deletePostConfirmation .deleteNo {
    padding: 1rem 2rem;
    border: 1px solid #EB592D;
    color: #EB592D;
    margin-right: 1rem;
}


.deletePostConfirmation .deleteYes {
    padding: 1rem 2rem;
    background-color: #EB592D;
    border: 1px solid #EB592D;
    color: white;


}


.Visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: insert(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}