.events {
    padding: .5rem 5% !important;

    .ant-steps.ant-steps-vertical {
        flex-direction: row !important;
    }

    :where(.css-dev-only-do-not-override-2q8sxy).ant-tabs-card>.ant-tabs-nav .ant-tabs-tab {
        background-color: #fff !important;
        border: none !important;
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
    }

    .ant-tabs .ant-tabs-tab-btn {
        background-color: #fff !important;
        border: none !important;
        color: #000 !important;
        font-size: 24px;
        font-weight: bold;
    }

    .ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
        border: none !important;
        color: #000 !important;
        font-size: 24px;
        font-weight: bold;
        border-bottom: #EB592D 5px solid !important;
    }

    .upload-icon-label {
        font-size: 18px;

        svg {

            font-size: 30px;
            cursor: pointer;
            margin-right: 1rem;
        }
    }
}

.eventHeader {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    h1 {
        font-size: 36px;
        color: #00756A !important;
        font-weight: bold;
    }
}


#addEvent {
    margin: 2rem auto;
    padding: 2rem 20%;
    background-color: #F7F7F7;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;

    .detail-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;

        h2 {
            grid-column: span 2;
        }

        #special-note {
            min-height: 100px;
        }
    }

    .button-bottom {
        margin-top: 1rem;
        text-align: center;
    }

    .summery {
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 1rem;

        h2 {
            grid-column: span 2;

        }

        .image-section {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .ant-steps-item-icon {
        color: $btnDark;
        background-color: $btnDark;
        border-color: white;
    }

    span.ant-steps-icon {
        color: white;
    }

    .ant-steps-item-title::after {
        background-color: $btnDark;
    }

    .ant-tabs-tab-btn {
        font-size: 20px;
    }

    .event-input {
        height: 31px;
        width: 200px;
        background-color: #ffffff;
        background-image: none;
        border-width: 1px;
        border-style: solid;
        background-color: #ffffff;
        background-image: none;
        border-width: 1px;
        border-style: solid;
        border-color: #D9D9DB;
        border-radius: 6px;
        padding: 0 0.6rem;
    }

    .right-side {
        margin-left: 2rem;

        label {
            display: block;
        }

        textarea {
            background-color: #ffffff;
            background-image: none;
            border-width: 1px;
            border-style: solid;
            background-color: #ffffff;
            background-image: none;
            border-width: 1px;
            border-style: solid;
            border-color: #D9D9DB;
            border-radius: 6px;
            width: 300px;
        }

    }

    #event1 {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        h2 {
            color: #00756A;
            font-size: 25px;
            font-weight: bold;
        }

        img {
            width: 90px;
            height: 90px;
            justify-content: center;
            text-align: center;
        }

        .ant-row .ant-form-item-row .css-dev-only-do-not-override-2q8sxy {
            justify-content: center;
            align-items: center;
        }

        label {
            font-size: 20px;
            text-align: center;
        }

        input {
            font-size: 20px;
            border-radius: 15px;
            height: 55px;
            width: 100%;
        }
    }

    .input-form {
        max-width: 600px;
    }

    @media screen and (min-width: $breakPoint) {
        .input-form {
            max-width: 550px;
        }
    }

    @media screen and (max-width:900px) {
        .detail-section {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            gap: 1rem;
        }
    }
}