#joinevent {

    h1 {
        text-align: center;
        color: $primaryGreen;
    }

    // width: 700px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: $cardGrey;
    border-radius: 15px;

    p {
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 16px;
    }

    img {
        max-width: 148px;
        height: 100%;
        border-radius: 1rem 0 0 1rem;
    }

    .event {
        cursor: pointer;
        border: 2px solid $primaryGreen ;
        background-color: white;
        margin-bottom: 1rem;
        border-radius: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr 2fr;
        height: 156px;

        .middle-date {
            text-align: center;
            color: $primaryGreen;
        }
    }

    .details {
        h2 {
            color: black;
            justify-content: center;
            text-align: center;
            text-transform: uppercase;
        }
    }
}

#singleEvent {
    display: flex;
    align-items: center;
    flex-flow: column;
}

@media only screen and (max-width: 600px) {


    #joinevent {
        width: 370px;

        img {
            width: 150px;
            height: 150px;
            border-radius: 15px;
            margin-top: 0.5rem;
        }

        .event {
            height: auto;
            grid-template-columns: 1fr;
            text-align: center;
        }

        p {
            display: flex;
            gap: 1rem;
            justify-content: center;
            margin: 0;
        }

        h1 {
            margin: 0;
        }
    }
}

#singleEvent {
    // width: 700px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: $lightGreen;

    img {
        width: 100%;
        height: auto;
    }

    h1 {
        color: $primaryGreen;
    }

    .buttons {
        text-align: center;
    }

    .ant-modal-body {
        text-align: center;

        h2 {
            text-transform: capitalize;
        }
    }
}