#landingpage {
  .logsignup {
    padding: 2rem 0;
  }

  h2 {
    color: #00756a;
  }
  .sectionimg {
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  section {
    .containercont:nth-child(odd) .sectioncont {
      order: 1;
    }
    .containercont:nth-child(even) .sectioncont {
      order: 2;
    }
    .containercont:nth-child(odd) .sectionimg {
      order: 2;
    }
    .containercont:nth-child(even) .sectionimg {
      order: 1;
    }
    .containercont {
      margin-bottom: 4rem;
      @media only screen and (min-width: 700px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
        gap: 1rem;
        align-items: center;
        margin-bottom: 10rem;
      }
    }
  }

  .whitebut {
    background: #fff !important;
    border: 2px solid $btnDark !important;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    color: $btnDark;
  }
  .orgbut {
    @include submitButton;
  }
  a {
    text-decoration: none;
    color: #fff;
  }
  li {
    list-style: none;
  }
  ul.landingpagemenu {
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
  }
  .container {
    max-width: 90%;
    margin: 0 auto;
    padding: 0 1rem;
  }
  .containercont {
    max-width: 80%;
    margin: 0 auto;
    padding: 0 1rem;
  }
  header {
    background-color: $primaryGreen;
    padding: 1rem 0;
    color: #fff;
    margin-bottom: 1.5rem;

    .container {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between; /* Distribute space between items */
      align-items: center; /* Center items vertically */
    }
  }
}
