/* Styling MyPost Area  */

#mypostID {


    .darkBtn {
        font-size: 1rem;
    }

    .cardBody {
        display: grid;
        grid-template-columns: 75% 25%;
    }

    #myPostsCard {
        background-color: #FAFAFA;
        margin: .5rem;
        padding: 0;
        border-radius: 15px;
        height: 150px !important;

        .ant-card-body {
            padding: 15px 30px !important;
        }
    }

    .dashBoardElder .cardBody {
        justify-content: space-around;
        gap: .5rem;
        text-align: center;
        font-weight: 600;
    }



    .eventDetails {
        grid-column: 1/2;
        text-align: left;
    }

    .eventDetails h1 {
        text-transform: capitalize;
    }


    .deleteEditSection {
        grid-column: 2/-1;
        grid-row: 1/-1;
        justify-content: right;
        align-items: center;
        gap: 1rem;
    }

    .myPostDelete,
    .myPostEdit {
        width: 50px;
        height: 65px;
    }

    .myPostDelete:hover,
    .myPostEdit:hover {
        cursor: pointer;
    }

    .eventImage {
        padding: 1rem;
        width: 100%;
        height: auto;
        border-radius: 20px;
    }

    .deletePostConfirmation {
        position: absolute;
        color: black;
        inset: 0;
        background-color: rgba(0, 0, 0, .8);
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        z-index: 100;
        padding: 20% 30%;

    }

    .deletePostConfirmation div {
        padding: 2rem;
        background-color: white;
        border-radius: 20px;
    }

    .deletePostConfirmation .deleteNo {
        padding: 1rem 2rem;
        border: 1px solid #EB592D;
        color: #EB592D;
        margin-right: 1rem;
    }


    .deletePostConfirmation .deleteYes {
        padding: 1rem 2rem;
        background-color: #EB592D;
        border: 1px solid #EB592D;
        color: white;


    }

    @media screen and (max-width: 676px) {
        .dashBoardElder .cardBody {
            display: block;

            .deleteEditSection {
                justify-content: center;
            }
        }

        .eventDetails h2 {
            font-weight: normal;
        }

    }

    .deleteEditSection {
        display: flex;
        flex-flow: row;
        justify-content: right;
        gap: 1rem;
    }

}

#mypostID img {
    width: auto !important;
    height: auto !important;
}


:where(.css-dev-only-do-not-override-1adbn6x).ant-rate {
    color: #EB592D;
    font-size: 40px;
    text-align: center;
}

:where(.css-dev-only-do-not-override-1adbn6x).ant-modal .ant-modal-footer {
    text-align: center;
    background: transparent;
    margin-top: 12px;
}

.ant-modal-content {
    display: grid;

}

.ant-modal-title {
    text-align: center;
    color: #00756A !important;
    font-size: 1.5rem !important;
}

.ant-space.css-dev-only-do-not-override-1adbn6x.ant-space-horizontal.ant-space-align-center.ant-space-gap-row-small.ant-space-gap-col-small {
    margin: 0 0 30px 0;
    text-align: center;
}

:where(.css-dev-only-do-not-override-1adbn6x).ant-modal-root .ant-modal-mask {
    background-color: rgba(0, 0, 0, 0.60);
}

// div#\:rf\:{
//     color: #00756A !important;
//     font-size: 1.5rem !important;
// }

:where(.css-dev-only-do-not-override-1adbn6x).ant-btn-primary {
    background-color: #EB592D;
}

.ant-modal.css-dev-only-do-not-override-1adbn6x {
    width: 600px !important;
}

.noInvitations {
    background-color: #f7f7f7;
    border-radius: 5px;
    padding: 3rem;
}

.eventDetails h1 {
    margin: 0;
    color: #000 !important;
    font-size: 25px;
}

.eventDetails p {
    font-size: 20px;
    margin-top: 0;
}


.myPostDT {
    display: flex;
    gap: 2rem;
}