.rewardsTop{
    display: flex;
    justify-content: space-between;
}

.earn-rewards{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5FAF6;
    padding: 3rem;
    gap: 3rem;
}

.earn-rewards h2{
    font-size: 2rem;
    width: 240px;
    color: #EB592D;
}

.earn-rewards img {
    width: 20%;
}

.certificate {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.certificate img {
    width: 30%;
    justify-self: center; 
}

.appply-now-btn {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 30%;
}

.certificate-section{
    text-align: center;
    margin: 3rem;
}

.certificate-section h2{
    color: #00756A;
}

.certificate-description{
    background-color: #FFF6F5;
    text-align: center;
    padding: 5rem;
}

.certificate-description h3{
    font-size: 1.2rem;
    color: #00756A ;
}

.points {
    padding: 10px;
    border: red 1px solid;
    background-color: #f4e0e0;
    border-radius: 5px;
    font-size: 10px;
}

.pointDiv{
    display: flex;
    align-items: center;
    gap: 1rem;
}


.whyBadgeDes {
    display: grid;
    grid-template-columns: .1fr .5fr;
    justify-content: center;
    gap: 2rem;
    align-items: center;
}

.badgeMain h2{
    text-align: center;
    color: #00756A;
}


.badgeMain{
    padding-top: 3rem;
}


@media only screen and (max-width: 600px) {
    .whyBadgeDes {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .whyBadgeDes img{
        width: 50%;
    }

    .certificate{
        flex-flow: column;
    }

    .certificate p{
        width: 300px;
    }
  }

  .bagdeDesDiv{
    display: flex;
    flex-flow: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}