/* Styling the page responsive  */


div:has(.dashBoardElder) {
  padding: .5rem 1% !important;

  :where(.css-dev-only-do-not-override-1adbn6x).ant-card .ant-card-body {
    padding: 0 !important;
  }
}


/* Screen between 1280px and 900px */
/* #root:has(.dashBoardElder) { */
@media screen and (max-width: 900px) {
  .topIcons img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }

  #postsSection img {
    width: 50px;
    height: 50px;
  }

  .dashBoardElder h1 {
    text-align: center;
  }

  .dashElderNav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    gap: 1rem;
  }

  .dashElderEvent {
    grid-column: span 2;
    grid-row: 2/3;
  }

  .tabs .ant-tabs-nav-list {
    display: grid !important;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    width: 100%;
    margin: 1rem;

  }

  .ant-tabs-tab-btn {
    display: block !important;
    text-align: center;
    width: 100%;
  }

  #postsSection .ant-tabs-tab {
    color: black !important;
    background-color: white !important;
    font-weight: bold !important;
    flex-grow: 1;
  }

  #postsSection .ant-tabs-nav-list {
    flex-grow: 1;
  }

  #postsSection .ant-tabs-tab-active {
    background-color: white !important;
  }

  #postsSection .ant-tabs-tab {
    display: block !important;
    text-align: center;
    margin: auto;
    width: 100% !important;
  }

  #postsSection .ant-tabs-tab-active div {
    color: black !important;
    font-size: 20px !important;
    display: inline !important;
    border-bottom: #EB592D 5px solid;
  }

  :where(.css-dev-only-do-not-override-1adbn6x).ant-tabs .ant-tabs-tab {
    font-size: 1rem;
  }

  #postsSectionNav button {
    display: block;
    margin: auto;
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 900px) {

  .dashBoardElderHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

  }

  .dashBoardElderHeader h1 {
    grid-column: span 4;
    text-align: left;
  }

  /* Styling for the Elder Dashboard Navigation*/
  .dashElderNav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    gap: 1rem;
  }

  #postsSection .ant-tabs-tab {
    display: block !important;
    text-align: center;
    margin: auto;
    font-size: x-large;

  }

  #postsSection .ant-tabs-tab-active div {
    display: inline;
    color: black !important;
    border-bottom: #EB592D 5px solid;

  }

  #postsSectionNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 3rem auto;
  }

  /* Styling for the Elder Dashboard Posts Section*/

  #postsSection .ant-tabs-tab {
    color: black !important;
    font-weight: bold !important;
    flex-grow: 1;
  }

  #postsSection .ant-tabs-nav-list {
    flex-grow: 1;
  }

  #postsSection .ant-tabs-tab-active {
    background-color: white !important;
  }

  #postsSection .ant-tabs-tab {
    display: block !important;
    text-align: center;
    margin: auto;
  }

  #postsSection .ant-tabs-tab-active div {
    color: black !important;
  }
}

/* Styling for the Elder Dashboard Header*/
h1 {
  color: #00756a;
}

.postsSectionNav h1:nth-of-type(1) {
  font-size: 32px;
}

.dashNav {
  background-color: #00756A;
  height: 200px;
}

nav div {
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  justify-content: space-between;
}

nav img {
  // margin-right: 0.5rem;
  padding: 0;
}

#statusBar {
  display: none;
  width: 100%;
  margin: 0 0 3rem 0;
}


#createPost {
  background-color: #eb592d;
  border-radius: 15px;
  height: 54px;
  width: 180px;
  border: #eb592d solid 1px;
  font-size: 20px;
  font-weight: bold;
}

#createPost a {
  color: white !important;
  text-decoration: none;
}

.dashBoardElderHeader div {
  text-align: center;
}

.dashBoardElderHeader h1 {
  font-size: 36px;
}

.topIcons {
  display: flex;
  justify-content: right;
  margin-left: 1rem;
  gap: 1rem;
}


/* ============================================= */

/* Styling for the Elder Dashboard Navigation*/

.dashElderNav div {
  min-height: 50px;
}

.dashElderEvent {
  border-radius: 0.5rem;
  padding: 0.5em;
  border: 2px #00756a solid !important;
  font-size: 25px !important;
  font-weight: bold;
  color: #00756a;

}

.dashElderEvent h4 {
  font-weight: 200;

}

.dashElderUnanswered {
  color: grey;
  border-radius: 0.5rem;
  padding: 0.5em;
  border: 2px grey solid !important;
}

.dashElderUnanswered h2,
.dashElderPending h2,
.dashElderEvent h2 {
  font-size: 25px !important;
}

.dashElderPending {
  color: #eb592d;
  border-radius: 0.5rem;
  padding: 0.5em;
  border: 2px#EB592D solid !important;
}


.unansCount,
.pendingCount {
  max-width: 50%;
  text-align: center;
  font-size: 80px;
  margin-right: 3rem;
  font-weight: bold;
  margin: auto;
}

.eventMore {
  color: white;
  background-color: #00756a;
  border-radius: 15px;
  padding: 0.5rem 1.5rem;
  border: 1px solid #00756a;
  font-size: 20px;
  font-weight: bold;
  width: 180px;
  height: 54px;
}

/* ==================================== */

.myPostElderly {
  background-color: lightgray;
}

/* ================== */


#postsSection .ant-tabs-tab {
  margin-right: 20px !important;
  // margin-left: 10px !important;

}

.rewardPoints {
  background-color: #f7f7f7;
}


h2.pointsDash {
  margin: 0;
  font-size: 1rem;
}

img.ant-menu-item-icon {
  width: 30px;
}


.ant-rate {

  color: orangered;
  font-size: 2.5rem;


}



#myPostId {
  .ant-modal .ant-modal-footer {
    margin: 0;
    margin-bottom: 1rem;
    text-align: center;
  }
}

.ant-modal .ant-modal-footer {
  text-align: center;
}

.ant-btn-primary {
  background-color: #EB593F;
  width: 180px;
  height: 55px;
  font-size: 20px;
  font-weight: bold;
}

.ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover {
  color: #fff;
  background-color: #EB593F;
}

.ant-space {
  display: block;
  width: 100%;
  margin: 0;
  text-align: center;
  margin-bottom: 1rem;
}


.ant-tabs-content-holder {
  // border: 1px solid #00756A;
}

.noPost {
  background-color: #FAFAFA;
  margin: .5rem;
  padding: 0;
  border-radius: 15px;
  height: 150px !important;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}