#profilePage {
  button {
    @include submitButton;
  }
  h2 {
    color: $primaryGreen;
    font-size: 2rem;
  }
  .userImage {
    .ant-upload-list-item {
      border-radius: 10px !important;
    }
    .ant-upload-list-item-container {
      width: 200px;
      height: 200px;
    }
  }

  .displayProfile {
    @media screen and (min-width: 768px) {
      width: 50%;
    }
    p {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    span {
      font-weight: bold;
    }
  }
}


img.volProfile {
  border-radius: 20px;
}

.ratingDivv {
  border: 1px solid black;
  padding: 1rem;
}

.volrate {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.displayProfile p{
  text-align: center;
}