#profilePage {
  padding: .5rem 2%;

  // button {
  //   // @include submitButton;
  //   padding: 10px;
  // }

  h2 {
    color: $primaryGreen;
    font-size: 2rem;
  }

  .userImage {
    .ant-upload-list-item {
      border-radius: 10px !important;
    }

    .ant-upload-list-item-container {
      width: 200px;
      height: 200px;
    }
  }

  .displayProfile {
    @media screen and (min-width: 768px) {
      width: 50%;
    }

    p {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    span {
      font-weight: bold;
    }
  }
}


img.volProfile {
  border-radius: 20px;
}

.ratingDivv {
  border: 1px solid black;
  padding: 1rem;
}

.volrate {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

// .displayProfile p {
//   text-align: center;
// }

.interestDiv {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  align-items: center;
  gap: 1rem;
}

#profilePage {
  textarea.ant-input.css-dev-only-do-not-override-2q8sxy{
    width: 70%;
  }

  .ant-upload-list-item.ant-upload-list-item-undefined{
    border: none;
    padding: 0;
  }

  h2{
    margin-bottom: 3rem;
  }


  .interestDiv{
    margin-bottom: 2rem;
  }

  .ant-row.ant-form-item-row.css-dev-only-do-not-override-2q8sxy {
    display: grid;
    grid-template-columns: .25fr 1fr;
    gap: 2rem;
}

.intesrestForm .ant-row.ant-form-item-row.css-dev-only-do-not-override-2q8sxy{
  display: block !important;
}

ul.ant-rate{
  
  font-size: 1.5rem;
}


label{
  font-weight: bold;
}

.excla{
  width: 20px;
  height: 20px;
}
.rateClass{
  display: flex;
  gap: .5rem;
  align-items: center;
}
}