.slide-menu-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.slide-menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 250px;
  background: #00756a;
  padding-top: 50px;
  z-index: 1001;
}

.slide-menu .ant-menu-item {
  padding: 16px;
}

.slide-menu .ant-menu-item:hover {
  background-color: #1890ff;
}

.slide-menu .ant-menu-item {
  height: 100% !important;
}

.slide-menu .anticon img {
  height: 32px;
  width: 32px;
}
