:where(.css-dev-only-do-not-override-1adbn6x).ant-menu-dark,
:where(.css-dev-only-do-not-override-1adbn6x).ant-layout .ant-layout-sider {
    background-color: #00756A;
}

:where(.css-dev-only-do-not-override-1adbn6x).ant-menu-dark .ant-menu-item-selected {
    background-color: #fff;
    color: #00756A;
}

.unansCount,
.pendingCount {
    max-width: 50%;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    margin: auto;
}



.appoArea h1 {
    text-align: left;
}

.appoArea div {
    background-color: lightgray;
    display: inline-block;
    margin-right: 1rem;
    min-width: 22%;
    height: 2rem;
    text-align: center;
    font-weight: bold;
}

.appoTable {
    width: 100%;
    height: auto;
}