@import "./variables.scss";
@import "./static/landingpage.scss";
@import "./auth/signup.scss";
@import "./header/header.scss";
@import "./header/slidemenu.scss";
@import "./profile/profile.scss";
@import "./events/addEvent.scss";
@import "./events/joinEvent.scss";
@import "./posts/addPost.scss";
@import "./posts/MyPosts.scss";
@import "./events/myEvents.scss";
@import "./posts/singlePost.scss";
@import "./posts/ViewProfile.scss";
@import "./elder/SinglePostView.scss";
@import "./volunteer/Dashboard.scss";
@import "./elder/Dashboard.scss";
@import "./header/newSideBar.scss";
*{
  font-family: $fontFamily !important;
}

@media screen and (min-width: $breakPoint) {
  .mainContent {
    margin-left: 230px;
  }
}


.hide-in-small {
  display: none;
}

.ant-tabs-ink-bar.ant-tabs-ink-bar-animated {
  width: 250px !important;
}

.headers,
.ant-layout {
  min-height: 100vh;
}

button {
  border-radius: 5px;
  cursor: pointer;
}

.textAlignCenter {
  text-align: center;
}

.textCapital {
  text-transform: capitalize;
}

.lightBtn {
  // border: 1px solid $btnDark;
  // color: $btnDark !important;
  // padding: 5px 15px;
  // background-color: $btnLight;
  // width: 100px;
  // margin-right: 15px;
  // font-weight: bold;

  background: #fff !important;
  border: 2px solid $btnDark !important;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  color: $btnDark !important;
  margin-right: 5px
}

.darkBtn {
  // border: 1px solid $btnDark;
  // color: $btnLight !important;
  // padding: 5px 15px;
  // background-color: $btnDark;
  // width: 100px;
  // font-weight: bold;
  @include submitButton;
}


.darkBtn:hover {
  background-color: $btnDark;
  color: $btnLight;
}

.loader .modalContent {
  background: none;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;

  img {
    height: 100px;
  }
}

.elderFrom {
  display: flex;
  flex-flow: column;
  gap: .5rem;
}

.Visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: insert(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.ant-layout .ant-layout-sider,
.ant-menu-dark {
  background-color: #00756a !important;
}

:where(.css-1adbn6x).ant-menu-dark,
:where(.css-1adbn6x).ant-menu-dark>.ant-menu {
  background-color: #00756a !important;
}

// Styling pop up menus =========== 
div:where(.swal2-container).swal2-backdrop-show,
div:where(.swal2-container).swal2-noanimation {
  background: rgba(0, 0, 0, .8) !important;
}

div:where(.swal2-container) div:where(.swal2-popup) {
  color: #000 !important;
  border-radius: 15px !important;
}

div:where(.swal2-icon).swal2-success {
  border-color: aqua !important;
  color: aqua !important;
}

.swal2-html-container {
  color: #000;
  font-size: xx-large !important;
  font-weight: bold !important;
  border-radius: 15px;
}

.swal2-actions .swal2-confirm {
  background-color: #eb592d;
  border-radius: 15px;
  height: 55px;
  width: 180px;
  border: #eb592d solid 1px;
  font-size: large;
}

.swal2-actions .swal2-cancel {
  background-color: #fff;
  color: #eb592d;
  border-radius: 15px;
  height: 55px;
  width: 180px;
  border: #eb592d solid 1px;
  font-size: large;
}